
body {
    margin-top: 3em;
    margin-bottom: 3em;
    padding-bottom: 3em;
    background: url("../images/background.jpg") fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: rgb(187, 187, 186);
    font-family: Consolas, manaco, monospace;
    letter-spacing: 0.02em;
    text-align: left;
    height: 100%;
}

.navbar-brand {
    display: none;
}

@media (max-width: 768px) {
    body {
        margin: 0;
        background-image: url("/images/backgroundsmall.jpg");
    }

    #container-header {
        display: none;
    }

    .navbar-brand {
        display: inherit;
    }



    #language {
        display: none;
        float: left;
        text-align: left;
    }
}

#container-main {
    background-color: rgb(16, 21, 24);
    border: ridge 5px #4e5156;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container-inner {
    position: inherit;
}

.green {
    color: #00EE00;
}

.orange {
    color: #CD661D;
}

h1, h2 {
    color: #CD661D;
    font-size: 26px;
    white-space: nowrap;
}
a:focus, a:hover {

    text-decoration: none;
}

.keywords {
    line-height: 2em;
}

/*.underlined {*/
    /*text-decoration: underline;*/
/*}*/

@media (min-width: 768px) {
    .container {
        max-width: 800px;
    }
}

hr {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: 0;
    height: 0;
    border-top: 2px solid #151515;
    border-bottom: 2px solid #000000;

}

@media only screen and (min-width: 480px) {
    #my-photo {
        float: right;
    }
}

@media only screen and (max-width: 480px) {
    #my-photo {
        display: block;
        margin: auto;
    }
}

/* ---------------------------------------header start*/
/*#olga {*/
    /*font-size: 200%;*/
    /*font-style: inherit;*/

/*}*/

#olga {
    font-size: 200%;
    text-decoration: none;
    cursor: pointer;
    color: #bbbbba;
}

#olga:hover {
    color: #fff;
    /*background-color: transparent;*/
}

#header {
    width: 70%;
    /*float: left;*/
}

#sotial-icons {
    /*float: right;*/
    width: 20%;
    margin-top: 15px;
}

nav {
    width: inherit;
}

#container-header {
    margin-bottom: 15px;
}

#language {
    width: 10%;
    margin: 9px auto 9px auto;
    text-align: right;

}

.navbar-inverse {
    background: linear-gradient(to top, #787d88 0%, #4e5156 36%, #15191e 100%);
    box-shadow: inset 1px 0 3px 1px rgba(23, 23, 23, 0.58);
    border: 1px solid #000000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* ---------------------------------------header end*/

/*-------------------------------------footer start*/

footer {
    /*height: 50px;*/
    bottom: 0;
    position: inherit;
    background-color: rgb(16, 21, 24);
}

footer div {
    margin-left: 1em;
    margin-right: 1em;
}

/*-------------------------------------footer end*/

/*-------------------------------------About start*/

#my-photo {
    /* float: right;*/

    margin-left: 1em;
    margin-bottom: 1em;
    border: 5px solid rgb(25, 32, 35);

    box-shadow: 0px 2px 3px #555;
    -webkit-box-shadow: 0px 2px 3px #555;
    -moz-box-shadow: 0px 2px 3px #555;
}

@media only screen and (min-width: 480px) {
    #my-photo {
        float: right;
    }
}

@media only screen and (max-width: 480px) {
    #my-photo {
        display: block;
        margin: auto;
        margin-bottom: 1em;
    }
}

/*-------------------------------------About end*/

/*-------------------------------------CV start*/

/*.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td,
.table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {*/
.table td, .table th{
    border-top: none;
}

table {

    text-align: left;
    border-collapse: separate;
    background: rgb(16, 21, 24);
    margin-bottom: 1em;

}

tr:hover {
    background-color: #15191e;
}

td {

    border: 1px solid #000;
    border-right: 1px solid #353535;
    border-bottom: 1px solid #353535;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 2%;
}

.panel-group {
    background-color: transparent;
    display: none;
}

@media (max-width: 768px) {
    .panel-group {
        display: inherit;
    }

    .image-lg {
        display: none
    }
}

.panel {

    background-color: transparent;
    border-color: transparent;
}

/*.panel-default > .panel-heading {*/
    /*color: transparent;*/
    /*background-color: transparent;*/
    /*border-color: transparent;*/
/*}*/

/*.panel-default > .panel-heading + .panel-collapse > .panel-body {*/
    /*border-top-color: transparent;*/
/*}*/

 .panel-body {
    border-top-color: transparent;
}

/*.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {*/
    /*border-top: 1px solid transparent;*/
/*}*/

 /*.panel-group .panel-heading + .panel-collapse > .panel-body {*/
    /*border-top: 1px solid transparent;*/
/*}*/

.panel-default > .panel-heading {
    color: rgb(187, 187, 186);
    background-color: transparent;
    border-color: transparent;
    padding: 0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #555;
}







/*.panel-heading {*/
    /*padding: 0;*/

/*}*/

.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
}

.panel-title {
    font-size: inherit;
}



/*-------------------------------------CV end*/

.form-control {
    color: rgba(0, 181, 238, 0.63);
}

#name, #email, #phone, #message {

    background: rgb(16, 21, 24);
    border: 1px solid #000;
    border-right: 1px solid #353535;
    border-bottom: 1px solid #353535;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#name:focus, #email:focus, #phone:focus, #message:focus {

    background: rgb(22, 31, 35);

}

button {
    display: inline-block;
    color: rgb(187, 187, 186);
    /*   height: 36px;
       width: 312px;*/
    /*text-shadow: 0 -1px rgb(46, 53, 58);*/

    text-decoration: none;
    user-select: none;
    line-height: 2em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    outline: none;
    border: 1px solid rgba(33, 43, 52, 1);
    border-radius: 3px;
    background: rgb(25, 28, 35) linear-gradient(rgb(58, 70, 80), rgb(69, 78, 87));
    box-shadow: inset 0 1px rgba(101, 114, 126, 1),
    inset 0 0 1px rgba(140, 150, 170, .8),
    0 1px rgb(83, 94, 104),
    0 0 1px rgb(86, 96, 106);
    cursor: pointer;
}

button:active {
    box-shadow: inset 0 1px 3px rgba(0, 10, 20, .5),
    0 1px rgb(83, 94, 104),
    0 0 1px rgb(86, 96, 106);
-webkit-translate(1 px, 2 px);
-moz-translate(1 px, 2 px);
-o-translate(1 px, 2 px);
-ms-translate(1 px, 2 px);
translate(10 px, 20 px);

}

button:focus:not(:active), .button:hover {
    border: 1px solid rgb(22, 32, 43);
    border-bottom: 1px solid rgb(25, 34, 45);
    background: rgb(53, 61, 71);
    box-shadow: inset 0 1px 3px rgba(0, 10, 20, .5),
    0 1px rgb(83, 94, 104),
    0 0 1px rgb(86, 96, 106);
    color: #00EE00;
    /*pointer-events: none;*/
}

.well {
    background: rgb(16, 21, 24);
    border: 1px solid #000;
    border-right: 1px solid #353535;
    border-bottom: 1px solid #353535;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/***********************************************************************************************/
/* Custom */
/***********************************************************************************************/
/*.custom-cols {
  background-color: #ffe5e0;
  display: block;
  height: 200px;
}
[class*="span"] {
  background-color: #AAE1EE;
}
.dark {
  background-color: #2ab4d5;
}*/
