.green {
  color: #00EE00; }

.orange {
  color: #CD661D; }
  @media print {
    .orange {
      font-weight: bold; } }

a:focus,
a:hover {
  text-decoration: none; }

@media print {
  .no-print {
    display: none; } }

.keyword {
  background-color: #4e5156;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
    -khtml-border-radius--moz-border-radius: 3px;
      -khtml-border-radius--moz-border-radius--ms-border-radius: 3px;
        -khtml-border-radius--moz-border-radius--ms-border-radius--o-border-radius: 3px;
          -khtml-border-radius--moz-border-radius--ms-border-radius--o-border-radius-border-radius: 3px;
  padding: 3px 5px; }

body {
  margin: 3em 0;
  padding-bottom: 3em;
  background: url("../images/background.jpg") fixed no-repeat;
  -webkit-backgroung-size: cover;
  -khtml-backgroung-size: cover;
    -khtml-backgroung-size--moz-backgroung-size: cover;
      -khtml-backgroung-size--moz-backgroung-size--ms-backgroung-size: cover;
        -khtml-backgroung-size--moz-backgroung-size--ms-backgroung-size--o-backgroung-size: cover;
          -khtml-backgroung-size--moz-backgroung-size--ms-backgroung-size--o-backgroung-size-backgroung-size: cover;
  color: #bbbbba;
  font-family: Consolas, Monaco, monospace;
  letter-spacing: 0.02em;
  text-align: left;
  height: 100%; }
  @media (max-width: 768px) {
    body {
      margin: 0;
      background: url("../images/backgroundsmall.jpg") fixed no-repeat; } }

.navbar-brand {
  display: none; }
  @media (max-width: 768px) {
    .navbar-brand {
      display: inherit; } }

#home .nav a.button-home,
#cv .nav a.button-cv,
#publ .nav a.button-publ,
#contact .nav a.button-contact {
  color: #fff; }

#container-main {
  background-color: #101518;
  border: ridge #4e5156;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
    -khtml-border-radius--moz-border-radius: 5px;
      -khtml-border-radius--moz-border-radius--ms-border-radius: 5px;
        -khtml-border-radius--moz-border-radius--ms-border-radius--o-border-radius: 5px;
          -khtml-border-radius--moz-border-radius--ms-border-radius--o-border-radius-border-radius: 5px; }

.container-fluid {
  padding-left: 0;
  padding-right: 0; }

.container-inner {
  position: inherit;
  font-size: 26px;
  white-space: nowrap; }

@media (min-width: 768px) {
  .container {
    max-width: 800px; } }

h1,
h2 {
  color: #CD661D;
  font-size: 26px;
  white-space: nowrap; }

hr {
  width: 100%;
  margin: auto 0;
  height: 0;
  border: 0;
  border-top: 2px solid #151515;
  border-bottom: 2px solid #000000; }

.my-flex-container {
  display: flex;
  justify-content: space-between; }

#olga {
  font-size: 200%;
  text-decoration: none;
  cursor: pointer;
  color: #bbbbba; }
  #olga:hover {
    color: #fff; }

#header {
  width: 70%;
  padding-bottom: 20px; }

#sotial-icons {
  width: 20%;
  margin-top: 15px; }

#language {
  width: 10%;
  margin: 9px auto 9px auto;
  text-align: right; }
  @media (max-width: 768px) {
    #language {
      display: none;
      float: left;
      text-align: left; } }

#language-sm {
  margin: 9px; }
  @media (min-width: 768px) {
    #language-sm {
      display: none; } }

.navbar-inverse {
  background: linear-gradient(to top, #787d88 0%, #4e5156 36%, #15191e 100%);
  background: -webkit-linear-gradient(to top, #787d88 0%, #4e5156 36%, #15191e 100%);
  background: -moz-linear-gradient(to top, #787d88 0%, #4e5156 36%, #15191e 100%);
  background: -o-linear-gradient(to top, #787d88 0%, #4e5156 36%, #15191e 100%);
  -webkit-box-shadow: inset 1px 1px 3px rgba(23, 23, 23, 0.58);
  -khtml-box-shadow: inset 1px 1px 3px rgba(23, 23, 23, 0.58);
    -khtml-box-shadow--moz-box-shadow: inset 1px 1px 3px rgba(23, 23, 23, 0.58);
      -khtml-box-shadow--moz-box-shadow--ms-box-shadow: inset 1px 1px 3px rgba(23, 23, 23, 0.58);
        -khtml-box-shadow--moz-box-shadow--ms-box-shadow--o-box-shadow: inset 1px 1px 3px rgba(23, 23, 23, 0.58);
          -khtml-box-shadow--moz-box-shadow--ms-box-shadow--o-box-shadow-box-shadow: inset 1px 1px 3px rgba(23, 23, 23, 0.58);
  border: 1px solid #000;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
    -khtml-border-radius--moz-border-radius: 3px;
      -khtml-border-radius--moz-border-radius--ms-border-radius: 3px;
        -khtml-border-radius--moz-border-radius--ms-border-radius--o-border-radius: 3px;
          -khtml-border-radius--moz-border-radius--ms-border-radius--o-border-radius-border-radius: 3px; }

@media (max-width: 768px) {
  #container-header {
    display: none; } }

footer {
  bottom: 0;
  position: inherit;
  background-color: #101518; }

footer div {
  margin: auto 1px; }

#my-photo {
  margin: auto auto 1em 1em;
  border: 5px solid #192023;
  -webkit-box-shadow: 0 2px 3px #353535;
  -khtml-box-shadow: 0 2px 3px #353535;
    -khtml-box-shadow--moz-box-shadow: 0 2px 3px #353535;
      -khtml-box-shadow--moz-box-shadow--ms-box-shadow: 0 2px 3px #353535;
        -khtml-box-shadow--moz-box-shadow--ms-box-shadow--o-box-shadow: 0 2px 3px #353535;
          -khtml-box-shadow--moz-box-shadow--ms-box-shadow--o-box-shadow-box-shadow: 0 2px 3px #353535; }
  @media only screen and (min-width: 480px) {
    #my-photo {
      float: right; } }
  @media only screen and (max-width: 480px) {
    #my-photo {
      display: block;
      margin: auto;
      margin-bottom: 1em; } }
  @media (max-width: 480px) {
    #my-photo {
      display: none; } }

#container-main .keywords {
  line-height: 2em; }

.table td,
.table th {
  border-top: none; }

table {
  text-align: left;
  border-collapse: separate;
  background: #101518;
  margin-bottom: 1em; }

tr:hover {
  background-color: #15191e; }

td {
  border: 1px solid #000;
  border-right: #353535;
  border-bottom: #353535;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
    -khtml-border-radius--moz-border-radius: 5px;
      -khtml-border-radius--moz-border-radius--ms-border-radius: 5px;
        -khtml-border-radius--moz-border-radius--ms-border-radius--o-border-radius: 5px;
          -khtml-border-radius--moz-border-radius--ms-border-radius--o-border-radius-border-radius: 5px;
  margin-bottom: 15px;
  padding: 2%; }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top-color: #555; }

.panel-group {
  background-color: transparent;
  display: none; }
  @media (max-width: 768px) {
    .panel-group {
      display: inherit; } }

.panel {
  background-color: transparent;
  border-color: transparent; }

.panel-default .panel-heading {
  color: #bbbbba;
  background-color: transparent;
  border-color: transparent;
  padding: 0; }

.panel-body {
  border-top-color: transparent; }

.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: none; }

.panel-title {
  font-size: inherit; }

@media (max-width: 768px) {
  .image-lg {
    display: none; } }

.form-control {
  color: #00B5EE; }

#name,
#email,
#phone,
#message {
  background: #101518;
  border: 1px solid #000000;
  border-right-color: #353535;
  border-bottom-color: #353535;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
    -khtml-border-radius--moz-border-radius: 5px;
      -khtml-border-radius--moz-border-radius--ms-border-radius: 5px;
        -khtml-border-radius--moz-border-radius--ms-border-radius--o-border-radius: 5px;
          -khtml-border-radius--moz-border-radius--ms-border-radius--o-border-radius-border-radius: 5px;
  margin-bottom: 15px; }
  #name:focus,
  #email:focus,
  #phone:focus,
  #message:focus {
    background: #161f23; }

button {
  color: #bbbbba;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  line-height: 2em;
  padding-left: 1.2em;
  padding-right: 1.2em;
  outline: none;
  border: 1px solid #212b34;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
    -khtml-border-radius--moz-border-radius: 3px;
      -khtml-border-radius--moz-border-radius--ms-border-radius: 3px;
        -khtml-border-radius--moz-border-radius--ms-border-radius--o-border-radius: 3px;
          -khtml-border-radius--moz-border-radius--ms-border-radius--o-border-radius-border-radius: 3px;
  background-color: #191C23;
  cursor: pointer; }
  button:active {
    -webkit-box-shadow: inset 0 1px 3px #65727E;
    -khtml-box-shadow: inset 0 1px 3px #65727E;
      -khtml-box-shadow--moz-box-shadow: inset 0 1px 3px #65727E;
        -khtml-box-shadow--moz-box-shadow--ms-box-shadow: inset 0 1px 3px #65727E;
          -khtml-box-shadow--moz-box-shadow--ms-box-shadow--o-box-shadow: inset 0 1px 3px #65727E;
            -khtml-box-shadow--moz-box-shadow--ms-box-shadow--o-box-shadow-box-shadow: inset 0 1px 3px #65727E; }
  button:focus:not(:active),
  button .button:hover {
    border-color: #192023;
    border-bottom: #19222D;
    background-color: #353D47; }

.btn:hover {
  color: #fff; }

.well {
  background: #101518;
  border: 1px solid #000000;
  border-right: #353535;
  border-bottom: #353535;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
    -khtml-border-radius--moz-border-radius: 5px;
      -khtml-border-radius--moz-border-radius--ms-border-radius: 5px;
        -khtml-border-radius--moz-border-radius--ms-border-radius--o-border-radius: 5px;
          -khtml-border-radius--moz-border-radius--ms-border-radius--o-border-radius-border-radius: 5px; }
