<header class="container-fluid" id="container-header">
    <div id="header" class="pull-left"><a href="index.html" id="olga" ><span>Olga Pigareva</span></a> <br>
        <span class="green">Web Development</span>
    </div>
    <div id="sotial-icons" class="pull-right">
        <ul class=" list-inline pull-right">
            <li><a href="https://www.xing.com/profile/Olga_Pigareva" class="no-print">
                <img src="../images/xing.png" alt="XING" class="no-print">
            </a></li>
            <li><a href="https://github.com/pigareva" class="no-print">
                <img src="../images/git.png" alt="Github" class="no-print">
            </a></li>
        </ul>
    </div>
</header>
<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Olga Pigareva</a>
            <a id="language-sm" class="pull-right" href="/index.html"><img class="img-rounded" src="/images/de.png"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.html" class="button-home"><u>A</u>bout</a></li>
                <li><a href="experience.html" class="button-cv"><u>C</u>V</a></li>
                <li><a href="publication.html" class="button-publ"><u>P</u>ublication</a></li>
                <li><a href="contact.html" class="button-contact"><u>C</u>ontact</a></li>
            </ul>
            <a id="language" class="pull-right" href="/index.html"><img class="img-rounded" src="/images/de.png"></a>
        </div>
    </nav>
</div>