<p class="keywords">
  <span class="keyword">JavaScript</span> <span class="keyword">ECMAScript 2015-2020</span>
  <span class="keyword">React JS</span>
  <span class="keyword">Redux</span>
  <span class="keyword">Redux Form</span>
  <span class="keyword">Redux Sagas</span>
  <span class="keyword">TypeScript</span>
  <span class="keyword">React Native</span>
  <span class="keyword">Webpack</span>
  <span class="keyword">Karma</span>
  <span class="keyword">Sinon</span>
  <span class="keyword">Jest</span>
  <span class="keyword">Enzime</span>
  <span class="keyword">TestCafe</span>
  <span class="keyword">Node.js</span>
  <span class="keyword">Express</span>
  <span class="keyword">HTML5</span>
  <span class="keyword">CSS3</span>
  <span class="keyword">styled-components</span>
  <span class="keyword">JSON</span>
  <span class="keyword">AJAX</span>
  <span class="keyword">WebStorm</span>
  <span class="keyword">Git/GitLab</span>
</p>
